<template>
  <div class="home">
    <player></player>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Player from "@/components/player.vue"; // @ is an alias to /src

@Component({
  components: {
    Player,
  },
})
export default class Home extends Vue {}
</script>
<style lang="scss">
.home {
  height: 90vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
