<template>
  <div class="player__container">
    <p>VTT File: {{ vttFile }}</p>
    <button class="button" @click="createVttFile">Create VTT File</button>
    <div class="select is-primary">
      <select v-model="languageSelected" @change="languageChanged">
        <option selected disabled value="">Select a Language</option>
        <option v-for="(language, index) in languages" :key="index">
          {{ language.language }}
        </option>
      </select>
    </div>
    <!-- onVttFileLoad -->
    <input class="input" type="file" @change="onVttFileLoad" />
    {{ selectedFile.name }}
    <video controls ref="video" :key="selectedFile.name">
      <source
        ref="mainVideo"
        type="video/mp4"
        :src="`/assets/video/${selectedFile.name}`"
      />
      <!-- src="/assets/video/under_armour.mp4" -->
      <!-- THESE PROBABLY NEED TO BE ADDED DYNAMICALLY DEPENDING ON LANGUAGE, ETC -->
      <!-- label="English" -->
      <!-- srclang="en-us" -->
      <track ref="track" :src="vttFile" kind="captions" default />
      <p>
        Your browser doesn't support HTML5 video. Here is a
        <a href="myVideo.mp4">link to the video</a> instead.
      </p>
    </video>
    <p>Created VTT File (Exact format needs to be looked at):</p>
    <p class="vtt">{{ createdVttFileAsText }}</p>
    <button class="button btn__save" @click="uploadVideo">Upload</button>
    <button class="button btn__save" @click="saveAndCreate">
      Create and save with subtitles
    </button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from "axios";

// TODO:
// Look at dropdown for second video
// Look at creating a file from array of string and saving locally
// Look at different language vtt file for english video but translated

// Use cases
// Deaf & hearing impaired to be able to read video ads

@Component({})
export default class Player extends Vue {
  createdVttFileAsText: string | ArrayBuffer | null = null;
  languageSelected = "";
  selectedFile = "";
  languages: Array<{ language: string }> = [
    {
      language: "English",
    },
    {
      language: "French",
    },
  ];
  videoContainer: Vue | Element | (Vue | Element)[] | undefined;
  vttFile = "";
  videoData = [
    {
      title: "Under Armour",
      src: "/assets/video/under_armour.mp4",
    },
    {
      title: "Hendricks",
      src: "/assets/video/hendricks_video",
    },
  ];

  uploadVideo(e: any): void {
    console.log(this.selectedFile);
    const formData = new FormData();
    formData.append("file", this.selectedFile);
    axios
      .post("http://localhost/8000/upload", formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      })
      .then((res) => {
        console.log(res);
      })
      .catch((err) => {
        console.log(err);
      });
  }

  saveAndCreate(): void {
    axios
      .post("http://localhost:8000/subtitle-video", "video")
      .then((response) => {
        console.log(response);
      });
  }

  languageChanged() {
    // When using language make sure default is loaded
    console.log(this.languageSelected);
    this.vttFile = `${
      this.vttFile.split(".")[0]
    }_${this.languageSelected.toLowerCase()}.vtt`;
  }

  readVttFile(file: any): void {
    console.log(file[0]);
    const fileToRead = file[0];
    let reader = new FileReader();

    reader.readAsText(fileToRead);

    reader.onload = () => {
      console.log(reader.result);
      this.createdVttFileAsText = reader.result;
    };

    reader.onerror = () => {
      console.log(reader.error);
    };
  }
  onVttFileLoad(e: any): void {
    // Maybe reset player
    // play video from beginning
    const file = (e.target as HTMLInputElement).files || e.dataTransfer.files;
    console.log(file);
    const selectedFile = e.target.files[0];
    this.selectedFile = selectedFile;
    console.log(this.selectedFile);
    console.log(file);

    // EVERYTHING BELOW IS WHEN LOADING A VTT FILE
    // lOOKING AT UPLOADING VIDEO FIRST
    // this.vttFile = `assets/vtt/${file[0].name}`;
    // console.log(this.vttFile);
    // if (this.vttFile && this.videoContainer) {
    //   this.videoContainer.play();
    // }

    // TODO
    // Look at reading vtt file
    // this.readVttFile(file);
  }

  createVttFile() {
    console.log(this.makeVttFile());
    const vid = this.$refs.video;
    const track = this.$refs.track;
    track.kind = "captions";
    track.label = "English";
    track.srclang = "en";
    track.src = URL.createObjectURL(this.makeVttFile());
    vid.addEventListener("loadedmetadata", () => {
      track.mode = "showing";
      vid.textTracks[0].mode = "showing"; // thanks Firefox
    });

    //   this.makeVttFile;
  }

  makeVttFile(): any {
    console.log("Downloading file");

    const lines = [
      { start: 0, end: 2, message: "Want to run faster and further aaaaahhhh" },
      {
        start: 2.2,
        end: 5.2,
        message: "The Flow Velociti Wind from Under Armour",
      },
      { start: 5.5, end: 7.8, message: "New minimalistic and snug warp upper" },
      {
        start: 8.2,
        end: 11.2,
        message: "Connects to Map-My-Run for tracking and analysisre",
      },
      { start: 11.2, end: 13.9, message: "What you saying Northampton" },
    ];

    const text = lines.reduce((str, { start, end, message }, index) => {
      // you would also have to make a "seconds to timestamp" parser
      return (
        str +
        `
00:00:${start.toFixed(3).padStart(6, "0")} --> 00:00:${end
          .toFixed(3)
          .padStart(6, "0")}
${message}`
      );
    }, `WEBVTT`);

    console.log(text);
    this.createdVttFileAsText = text;
    return new Blob([text], { type: "text/plain" });
  }

  mounted(): void {
    this.vttFile = "/assets/vtt/subtitles_underarmour.vtt";
    this.videoContainer = this.$refs.video;
    const lang = navigator.language;
    console.log(lang, "this is lang");
  }
  // store mutations and actions
  // other methods
  // lifecycle methods
}
</script>

<style lang="scss">
.player {
  &__container {
    width: 80%;

    .button,
    .select {
      float: left;
      margin-bottom: 0.8em;
    }

    .select {
      clear: left;
    }

    .input {
      margin-bottom: 0.8em;
    }

    ::cue {
      color: yellow;
      font-weight: bold;
    }

    .btn {
      &__save {
        margin-top: 2em;
      }
    }
  }
}
</style>
